[Desktop Entry]
Version=1.0
Name=zAp
Comment=This is my comment
Exec=/home/lightning/Documents/zap/main.py
Icon=python
Path=/home/lightning/Documents/zap/
Terminal=true
Type=Application
Categories=Utility;Application;
